{{error-messages errors=errors}}

<form class="form-inline" disabled="disabled" role="form" {{action 'authenticate' on="submit"}}>

	<fieldset {{bind-attr disabled="disabled"}}>

	<!-- email -->
	<div class="form-group">
	    <div class="input-group">
	     	<div class="input-group-addon">Email</div>
			{{input type="email" class="form-control" value=email}}
	    </div>
	</div>

	<!-- password -->
	<div class="form-group">
	    <div class="input-group">
	     	<div class="input-group-addon">Password</div>
			{{input type="password" class="form-control" value=password}}
	    </div>
	</div>

	<!-- submit button -->
	<button {{bind-attr class=":btn btnDefault btnPrimary btnSuccess btnDanger"}}>{{btnMessage}}</button>

	</fieldset>
</form>
