<form class="form-inline" role="form" {{action 'authenticate' on="submit"}}>
	<div class="form-group">
	    <div class="input-group">
	     	<div class="input-group-addon">Email</div>
			{{input type="email" class="form-control" value=email placeholder="Your email"}}
	    </div>
	</div>
	<div class="form-group">
	    <div class="input-group">
	     	<div class="input-group-addon">Password</div>
			{{input type="password" class="form-control" value=password placeholder="Your password"}}
	    </div>
	</div>
	<button {{bind-attr class=":btn :btn-default btnSuccess btnDanger"}}>{{message}}</button>
</form>
